.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.logout-btn {
  background-color: transparent;
  padding: 10px;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
}
